body {
  margin: 0;
  background-color: #d4d4d4;
}

#test {
  border: 1px black solid;
}

nav {
  height: 90px;
  text-align: center;
  padding: 0 0 10px 0;
}

nav i {
  padding: 0 0 10px 0;
}

main {
  margin: 0 40px;
}

main div {
  padding: 10px 0;
}

div.hide {
  display: none;
}

header {
  text-align: center;
  margin: -40px 0 0 0;
}

header img {
  border-radius: 50% !important;
}

#about {
  padding: 20px;
}

#resume {
  padding: 20px;
}

#works {
  padding: 20px;
  text-align: center;
}

#contact {
  padding: 20px;
}

.anchor {
  margin: -20px;
}

#map {
  border: 1px black solid;
  height: 60px;
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

.fact-box {
  border: 1px solid black;
  height: 150px;
  width: 150px;
}
/* 
#portfolio img {
  width: 200px;
} */

/* Bootstrap Changes */
.mb-5, .my-5 {
    margin-bottom: 1.4rem!important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
  color: black;
  background-color: #fff; 
  border-color: #ffffff;
}