@font-face {
  font-family: "firaSans";
  src: url("../FiraSans-Light.ttf") format("truetype");
}

body {
  margin: 0;
  /* background-image: url('/images/blue-sky.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden; */
  font-family: firaSans;
  background-color: #051622;
  color: #DEB992;
}

main {
  margin: 0 20px;
}

a {
  color: #DEB992;
}

.title {
  font-size: 32px;
  color: #1BA098;
}

main  div {
  padding: 10px 0;
}

.social img {
  width: 40px;
  padding: 5px;
  justify-content: space-between;
}

header {
  text-align: center;
}

footer {
  color: #DEB992
}

a:hover {
  text-decoration: none;
}

header img {
  border-radius: 10% !important;
}

#about {
  padding: 20px;
}

#resume {
  padding: 20px;
}

#works {
  padding: 20px;
  text-align: center;
}

#contact {
  position: sticky !important; 
  position: -webkit-sticky !important; 
  top: 0 !important;
}

.anchor {
  margin: -20px;
}

.skills-list {
  padding: 20px;
  flex: auto;
  justify-content: center;
}

.skills-list img {
  max-height: 60px;
  padding: 0 25px;
}

.skills-list span {
  display: block;
  padding-top: 10px;
  text-align: center;
}

.fact-box {
  border: 1px solid black;
  height: 150px;
  width: 150px;
}
.portfolio  {
  overflow: auto;
  white-space: nowrap;
}

.portfolio-card {
  display: inline-block !important;
  height: 200px;
}

.portfolio-card > button {
  flex-direction: column;
  align-content: space-around;
  color: #DEB992;
}

.portfolio-card img {
  max-width: 200px;
  max-height: 200px;
}

.portfolio-card span {
  display: block;
  padding: 10px 0;
}

/* Bootstrap Changes */
.mb-5, .my-5 {
    margin-bottom: 1.4rem!important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, a:hover {
  color: #1BA098;
  background-color: #343a40; 
  border-color: #343a40;
}

.img-thumbnail {
  background-color: #051622;
  border: 2px solid #DEB992;  
}

.invert {
  filter: invert(100%);
}

.modal-img {
  width: 80%;
  max-width: 600px;
}